langchain
openai
elasticsearch
pydantic
python-dotenv
numpy
pandas
fastapi
uvicorn
python-multipart
pdfplumber
pypdf
tiktoken
aiohttp
PyYAML
pytesseract
pdf2image
pypandoc
pybase64
python-csv
psycopg2-binary
PyMuPDF
pymongo
networkx
openpyxl
odfpy
olefile
python-docx
httpx
sentence-transformers
nltk
torch
bcrypt
bson
filetype
markdown
mistralai
neo4j
pillow-heif
watchdog
