langchain
openai
elasticsearch
pydantic
python-dotenv
numpy
pandas
fastapi
uvicorn
python-multipart
pdfplumber
pypdf
tiktoken>=0.4.0
aiohttp>=3.8.0 
PyYAML>=5.4
pytesseract
pdf2image
pypandoc 
pybase64
python-csv
psycopg2-binary
PyMuPDF
pymongo
networkx
openpyxl
odfpy

python-multipart 
httpx

sentence-transformers
nltk
torch

streamlit